.container {
    max-width: 1200px;
    display: grid;
    grid-gap: $gutter;
    grid-template-areas:
        "header"
        "sidebar"
        "main";

    @media (min-width: 700px) {
        grid-template-columns: 12fr 7fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "main sidebar";
    }
}

.sidebar {
    grid-area: sidebar;
}
  
.main {
    grid-area: main;
}

.header {
    grid-area: header;
}

.mt {
    margin-top: $gutter;
}

.mt-2 {
    margin-top: $gutter*2;
}

.mb {
    margin-bottom: $gutter;
}

.mb-2 {
    margin-bottom: $gutter*2;
}

figure {
    margin: 0 0 $gutter*2 0;
}

iframe {
    max-width: 100%;
}