p {
    font-size: 1em;
    line-height: 1.425;
    margin: 0 0 1.1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.125em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
}

h1,
h2,
h3 {
    margin: 0 0 2.25rem 0;
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

li {
    margin-bottom: 1rem;
}

a {
    color: $dark-grey;
    font-style: italic;

    &:hover {
        color: lighten($dark-grey, 20%);
    }
}

img {
    max-width: 100%;
}

.text-secondary {
    color: $grey;
}

.text-italic {
    font-style: italic;
}

article img {
    margin-top: $gutter*2;
}