h1,
h2,
h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 3.5rem;
    line-height: 1.125;
    margin: 0 0 2.25rem 0;
}

h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 0.25rem 0;
}

h4,
h5,
h6,
p {
    line-height: 1.425;
    font-size: 1.75rem;
}

p {
    font-size: 1.5rem;
    margin: 0 0 1.1rem 0;
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

li {
    margin-bottom: 0.7rem;
}

a {
    color: $dark-grey;

    &:hover {
        color: lighten($dark-grey, 20%);
    }
}

img {
    max-width: 100%;
}

.text-secondary {
    color: $grey;
}

article img {
    margin-top: $gutter*2;
}