@import "variables";
@import "typography";
@import "layout";
@import "index";

body {
    margin: 0;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 1.65rem;
    line-height: 1.425;
    padding: $gutter;
    color: $dark-grey;
}
