<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body class="container">
    <header class="header">
      <h1>
        Samuel Lie
        <br>
        Designer in Stockholm, Sweden
      </h1>
    </header>
    <%= yield %>
  </body>
</html>
